/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    /*display: block;*/
    border: solid 4px;
    padding: 0;
    margin-bottom: 30px;
    width: 90%
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   CSS Grid styles
   ========================================================================== */

body {
    display: grid;
    grid-template-rows: [first row] auto auto auto auto auto [last row];
    grid-template-columns: [first column] 95% [last column];
    grid-template-areas:
        "nav"
        "about"
        "cv"
        "ilove"
        "contact";
    grid-row-gap: 50px;
    justify-content: center;
}

header {
    grid-area: nav;
}

.css-grid-about-sm {
    grid-area: about;
    display: grid;
    grid-template:
        [about1-start] "about_title ." 25% [about1-end]
        [about2-start] "about_img about_img" auto [about2-end]
        [about3-start] "about_text about_text" auto [about3-end];
}

.css-grid-cv-sm {
    grid-area: cv;
    display: grid;
    grid-template:
        [cv1-start] "cv_title" 10% [cv1-end]
        [cv2-start] "cv-a" auto [cv2-end]
        [cv3-start] "cv-b" auto [cv3-end];
    border: 8px solid;
    padding: 20px 0 120px 0;
}

.css-grid-ilove-sm {
    grid-area: ilove;
    display: grid;
    grid-template:
        [ilove1-start] "ilove_title" 10% [ilove1-end]
        [ilove2-start] "ilove-a" auto [ilove2-end]
        [ilove3-start] "ilove-b" auto [ilove3-end]
        [ilove4-start] "ilove-c" auto [ilove4-end]
        [ilove5-start] "ilove-d" auto [ilove5-end];
}

.css-grid-contact-sm {
    grid-area: contact;
    display: grid;
    grid-template:
        [contact1-start] "contact_title" 25% [contact1-end]
        [contact2-start] "contact-b" auto [contact2-end]
        [contact3-start] "contact-a" auto [contact3-end];
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    /* For tablets: */
    .css-grid-about-m {
        grid-area: about;
        display: grid;
        grid-template:
            [about1-start] "about_title about_title" 20% [about1-end]
            [about2-start] "about_text about_img" auto [about2-end]
    / 40% 20%;
        justify-content: space-evenly;
    }

    .css-grid-cv-m {
        grid-area: cv;
        display: grid;
        grid-template:
            [cv1-start] "cv_title cv_title" 20% [cv1-end]
            [cv2-start] "cv-a cv-b" auto [cv2-end]
    / 50% 50%;
        justify-content: center;
        border: 8px solid;
        padding: 20px;
    }

    .css-grid-ilove-m {
        grid-area: ilove;
        display: grid;
        grid-template:
            [ilove1-start] "ilove_title ilove_title" 20% [ilove1-end]
            [ilove2-start] "ilove-a ilove-b" auto [ilove2-end]
            [ilove3-start] "ilove-c ilove-d" auto [ilove3-end]
    / 50% 50%;
        justify-content: center;
    }

    .css-grid-contact-m {
        grid-area: contact;
        display: grid;
        grid-template:
            [contact1-start] "contact_title contact_title" 25% [contact1-end]
            [contact2-start] "contact-a contact-b" auto [contact2-end]
    / 50% 50%;
    }
}

.about_title {
    grid-area: about_title;
}

.about_text {
    grid-area: about_text;
    /* - display:grid allows here grid-items within the grid-item to be centered */
    display: grid;
    justify-items: center;
}

.about_text p {
    width: 80%;
}

.about_img {
    grid-area: about_img;
    display: grid;
    justify-items: center;
}

.cv_title {
    grid-area: cv_title;
}

.ilove_title {
    grid-area: ilove_title;
}

.ilove-a, .ilove-b, .ilove-c, .ilove-d {
    width: 80%;
    margin:auto;
}

.ilove-a h3, .ilove-b h3, .ilove-c h3, .ilove-d h3 {
    line-height: 2em;
}

.ilove-a hr, .ilove-b hr, .ilove-c hr, .ilove-d hr {
    border: solid 2px;
}

.contact_title {
    grid-area: contact_title;
}

.contact-a {
    grid-area: contact-a;
}

.contact-b {
    grid-area: contact-b;
    margin-bottom: 50px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
    /*margin-bottom:120px;*/
}

h2 {
    padding-left: 1em;
}

p {
    width: 80%;
    margin:auto;
}

#home {
    border: 6px solid;
    padding: 0 20px 2px 20px;
}

.fa-cog {
    color: black;
}

.socialmedias {
    display: flex;
    padding-top: 10px;
}

.contact-b p {
    width: 100%;
}

@media only screen and (min-width: 35em) {
    .contact-a, .contact-b {
        width: 80%;
        margin-left:auto;
        justify-content: center;
    }

    .socialmedias {
        display: block;
        width: 80%;
        margin:auto;
    }

    .contact-b p {
        display: flex;
        justify-content: center;
    }

    .about-text, .about_img {
        padding-top: 50px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
